<%- include('partials/header') %>

  <h1>Welcome to Mood Journal!</h1>
  <h2>Let's Track Your Mood:</h2>
    <body>
      <h2>Mood Scale</h2>
        <form id="new-form" action="/moods" method="POST">
        <label> How do you feel, right now?
      <select name="moods">
          <option value="1">Anxious</option>
          <option value="2">Sad</option>
          <option value="3">Optimistic</option>
          <option value="4">Tired</option>
          <option value="5">Groovy</option>
      </select>     
      </label>
      <br>
      <button type="submit">Submit</button>
      <button type="add note">Add A Note</button>
    </body>

<%- include('partials/footer') %>

<!-- learn how to also do a form -->