<%- include('partials/header') %>
<!DOCTYPE html>
<html>
    <body>
      <h1>Moods</h1>
        <form id="new-form" action="/moods" method="POST">
        <label> Moods
      <select name="Moods">
          <option value="1">Feeling Anxious</option>
          <option value="2">Feeling Sad</option>
          <option value="3">Feeling Optimistic</option>
          <option value="3">Feeling Tired</option>
      </select>     
      </label>
      <br>
      <button type="submit">Submit</button>
    </body>
</html>
<%- include('partials/footer') %>