<form id="new-form" action="/moods" method="POST">
    <label>Rating Scale</label>
    <select name="rating scale">
      <option value=1>I'm feeling anxious</option>
      <option value=2>I'm feeling sad</option>
      <option value=3>I'm feeling optimistic</option>
    </select>
  </form>
  