<!DOCTYPE html>
<html>
    <h1>Rate your mood:</h1>
      <body>
        <h2>How do you feel?</h2>
          <form id="new-form" method="POST" action="/mood/<%=moodId%>?_method=PUT">
        <select name="rating">
            <option>Anxious</option>
            <option>Sad</option>
            <option>Optimistic</option>
            <option>Tired</option>
            <option>Groovy</option>
        </select>     
        <br>
      <button type="submit">Save</button>
      </form>
    </body>
</html>