
<!DOCTYPE html>
<html>
<body>
    <h1>Notes:</h1>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Take four deep breaths">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Take an hour long nap">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Create a wishlist">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="When in doubt, cry it out">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Bust a move">
    <button type="add note">Add Note</button>
</form>
<br>
<form action="/notes" method="POST">
    <label>Create your own note:</label>
    <input type="text">
    <button type="add note">Add</button>
</form>

</body>
</html>


<!-- 
if (mood.rating = Anxious) { 
    console.log("Take four deep breaths");
} else {
    console.log("Bite your nails");
}

if (mood.rating = Tired) {
    console.log("Take an  hour long nap");
} else {
    console.log("Do fifty jumping-jacks");
}

if (mood.rating = Optimistic) {
    console.log("Create a goals list");
} else {
    console.log("Cry into a pillow");
}

if (mood.rating = Sad) {
    console.log("When in doubt, cry it out");
} else {
    console.log("Bottle your feelings up");
}

if (mood.rating = Groovy) {
    console.log("Bust a move");
} else {
    console.log("Go to bed");
} -->





