
<!DOCTYPE html>
<html>
<body>
    <h1>Notes:</h1>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Take four deep breaths">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Take an hour long nap">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Create a wishlist">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="When in doubt, cry it out">
    <button type="add note">Add Note</button>
</form>
<form id="new-form" method="POST">
    <input type="note" name="text" value="Bust a move">
    <button type="add note">Add Note</button>
</form>
<br>
<form action="/notes" method="POST">
    <label>Create your own note:</label>
    <input type="text">
    <button type="save">Save Note</button>
    <button type="add note">Add Note</button>
    <button type="delete note">Delete Note</button>
</form>
</body>
</html>









